@import '@draft-js-plugins/inline-toolbar/lib/plugin.css',
'@draft-js-plugins/side-toolbar/lib/plugin.css',
'@draft-js-plugins/sticker/lib/plugin.css',
'@draft-js-plugins/image/lib/plugin.css',
'@draft-js-plugins/alignment/lib/plugin.css',
'draft-js/dist/Draft.css';

:root {
    --battleship-gray: #919090ff;
    --dim-gray: #636262ff;
    --seasalt: #F9F9F9ff;
    --white-2: #FCFBFBff;
    --polynesian-blue: #0C4789ff;
    --columbia-blue: #C7D4E3ff;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--mui-palette-grey-50);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}