.search-results {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  box-sizing: border-box;
  padding: 8px 0;
  z-index: 0;
}

.data-card {
  padding: 5px;
  margin: 8px 0px;
  width: 20%;
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
  background-color: rgb(236, 234, 111);
}
